/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

/* Header */
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Navigasi */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.topnav a:hover {
    background-color: #555;
}

.topnav a.active {
    background-color: #666;
}

/* Kolom-Kolom */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.leftcolumn, .middlecolumn, .rightcolumn {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

/* Galeri */
.gallery {
    margin-bottom: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Kotak Pesan */
.kotak {
    background-color: #666;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
